/* ===============
Shipping Bar
================ */
#wceazy_pre_order{
    display: none;
}
 



.wceazy_pre_order_header {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    flex-direction: row;
    column-gap: 10px;
    box-shadow: 0 13px 22px -5px rgb(0 0 0 / 6%);
}
.wceazy_pre_order_header .wceazy_header_part_left p {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    position: relative;
}
.wceazy_pre_order_header .wceazy_header_part_left p span {
    position: absolute;
    top: 0;
    right: -60px;
    background: #6E32C9;
    padding: 0px 10px;
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}
.wceazy_pre_order_header .wceazy_header_part_right a {
    text-decoration: none;
    font-size: 17px;
    color: #333333;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.wceazy_pre_order_header .wceazy_header_part_right a.wceazy_get_pro {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background: #f94017;
    padding: 10px 25px;
    border-radius: 3px;
    transition: 0.1s;
}
.wceazy_pre_order_header .wceazy_header_part_right a.wceazy_get_pro:hover {
    background: #ac2809;
}








.wceazy_pre_order_page_title{
    margin: 20px 53px 0 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    border-bottom: 1px solid #DDD8EE;
}

.wceazy_pre_order_page_title .page_title_part_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.wceazy_pre_order_page_title .page_title_part_left h2 {
    position: relative;
    font-size: 30px;
    line-height: 35px;
    margin: 25px 0;
}
.wceazy_pre_order_page_title .page_title_part_left h2:after {
    position: absolute;
    content: "";
    background: #6E32C9;
    top: auto;
    bottom: -26px;
    width: 100%;
    height: 2px;
    left: 0;
}

.wceazy_pre_order_page_title .page_title_part_left a {
    margin-left: 100px;
    color: #6E32C9;
    margin-top: 15px;
    font-size: 15px;
    display: block;
}
.wceazy_pre_order_page_title .page_title_part_right button.wceazy_pre_order_back_to_dashboard_btn {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: #FF521D;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s;
    background: #F6F5FA url("../../img/wceazy_back_to_dashboard.svg") no-repeat;
    background-size: 14px;
    background-position-x: 10px;
    background-position-y: center;
    padding: 5px 10px 5px 30px;
}



.wceazy_pre_order_container{
    padding: 50px 50px;
}





/* Input Field Customization */
.wceazy_pre_order_field_group{
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}
.wceazy_pre_order_field_group label{
    width: 25%;
    color: #191D23;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display:block;
    margin-top: 10px;
}
.wceazy_pre_order_field_group .field_with_msg_container{
    display: block;
    width: 30%;
}
.wceazy_pre_order_field_group .wceazy_pre_order_text_field{
    padding: 12px 8px;
    background: #FFFFFF;
    border: 1px solid #BDCEF1;
    border-radius: 8px;
    width: 100%;
}
.wceazy_pre_order_field_group .wceazy_pre_order_textarea_field{
    padding: 12px 8px;
    background: #FFFFFF;
    border: 1px solid #BDCEF1;
    border-radius: 8px;
    width: 100%;
}
.wceazy_pre_order_field_group .wceazy_pre_order_select_field{
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #BDCEF1;
    color:#5b5b5bf5 !important;
    font-size: 15px !important;
}

.wceazy_pre_order_field_group small{
    display: block;
    font-size: 14px;
    margin-top: 5px;
}


/* Icon Selection Field */
.wceazy_pre_order_field_group .icon_selection_area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
}
.wceazy_pre_order_field_group .icon_selection_area .icon_field_item{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    border: 2px solid transparent;
}
.wceazy_pre_order_field_group .icon_selection_area .icon_field_item:hover{
    border: 2px solid #0d66c2;
    border-radius: 5px;
}
.wceazy_pre_order_field_group .icon_selection_area .icon_field_item.active{
    border: 2px solid #0d66c2;
    border-radius: 5px;
}


/* Color Picker Field */
.wceazy_pre_order_field_group .color_picker_area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    background: #f6f8fa;
    border: 1px solid #E4E4E6;
    border-radius: 3px;
}
.wceazy_pre_order_field_group .color_picker_area label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: #2B2A2D;
    margin: 0;
    width: 100%;
    height: 100%;
}
.wceazy_pre_order_field_group .color_picker_area input[type="color"] {
    -webkit-appearance: none;
    box-shadow: none !important;
    padding: 0;
    height: 36px;
    width: 108px;
    margin: 0;
    cursor: pointer;
    outline: none;
    border: 1px;
}
.wceazy_pre_order_field_group .color_picker_area input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.wceazy_pre_order_field_group .color_picker_area input[type="color"]::-webkit-color-swatch {
    border-color: transparent;
    border-radius: 3px;
}





/* Select2 Customization */

#wceazy_pre_order .select2-container {
    display: block;
}
#wceazy_pre_order .select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding: 5px;
    padding-left: 20px;
}
#wceazy_pre_order .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    top: 3px;
}
#wceazy_pre_order .select2-container--default .select2-selection--multiple{
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #BDCEF1;
    color:#5b5b5bf5 !important;
    font-size: 15px !important;
}
#wceazy_pre_order .select2-container .select2-selection--single{
    height: 50px;
}
#wceazy_pre_order .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
}
#wceazy_pre_order .select2-container--default .select2-selection--single .select2-selection__arrow {
    top:13px;
}

#wceazy_pre_order .select2-container--default .select2-selection--single,
#wceazy_pre_order .select2-container--open .select2-dropdown {
    border: 1px solid #BDCEF1;
    border-radius: 5px;
}


/* Slider Checkbox customization */
.wceazy_pre_order_field_group .toggle_switch{
    font-size: 19px;
    position: relative;
    display: inline-block;
    width: 51px;
    height: 25px;
    margin-left: 0;
}
.wceazy_pre_order_field_group .toggle_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.wceazy_pre_order_field_group .toggle_switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.wceazy_pre_order_field_group .toggle_switch .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.wceazy_pre_order_field_group .toggle_switch input:checked + .slider {
    background-color: #6E32C9;
}
.wceazy_pre_order_field_group .toggle_switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.wceazy_pre_order_field_group .toggle_switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.wceazy_pre_order_field_group .toggle_switch .slider.round {
    border-radius: 34px;
}
.wceazy_pre_order_field_group .toggle_switch .slider.round:before {
    border-radius: 50%;
}







.wceazy_pre_order_tab{
    margin: 0;
    display: flex;
    padding-top: 5px;
}

.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left {
    width: 20% ;
    height: 200px;
    border-top: 1px solid #DDD8EE;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item {
    padding: 10px 56px;
    cursor: pointer;
    border-bottom: 1px solid #DDD8EE;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item{
    border-left: 4px solid transparent;
    transition: .3s;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item:hover {
    background-color: #FFFF;
    border-left: 4px solid #6E32C9;
    transition: .3s;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item:hover h1 {
    color:#6E32C9;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item h1 {
    color: #050505;
    font-weight: 600;
    font-size: 18px;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item_active {
    background-color: #FFFF;
    border-left: 4px solid #6E32C9;
    transition: .3s;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item_active  h1{
    color:#6E32C9;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_left .coupon_data_tabs .tab_item_active {
    background-color: #FFFF;
    border-left: 4px solid #6E32C9;
    transition: .3s;
}




.wceazy_pre_order_tab .wceazy_pre_order_tab_part_right {
    width: 80%;
    background: #FFFFFF;
    padding: 50px 50px 60px 50px;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_right .tab_body_title{
    border-bottom: 1px solid #E3E0ED;
    padding-bottom: 15px;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_right .tab_body_title h1{
    font-size: 28px;
    color: #6E32C9;
    font-weight: 700;
}
.wceazy_pre_order_tab .wceazy_pre_order_tab_part_right h4{
    font-size: 20px;
    color: #6E32C9;
    font-weight: 600;
    border-bottom: 1px solid #E3E0ED;
    border-bottom-style: dashed;
    padding: 0 0 20px 0;
    margin-top: 50px;
}






.wceazy_pre_order_bottom_button_section{
    display: flex;
    justify-content: right;
    margin-top: 60px;
}
.wceazy_pre_order_bottom_button_section button{
    text-decoration: none;
    background-color: #6E32C9;
    padding: 17px 30px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.3s;
    border:  1px solid transparent
}
.wceazy_pre_order_bottom_button_section button:hover{
    border:  1px solid #6E32C9;
    background: transparent;
    color: #6E32C9 ;
    cursor: pointer;
}