.wceazy_frontend_sb {
  --wceazy_sb_bg: #0a9663;
  --wceazy_sb_remove_icon: url(../../img/modules/shipping_bar/delete_icon_1.svg);
  --wceazy_sb_remove_icon_size: 16px;
  --wceazy_sb_remove_icon_color: #ffffff;
  --wceazy_sb_msg_text_color: #ffffff;
  --wceazy_sb_msg_link_text_color: #ffffff;
  --wceazy_sb_msg_font_size: 16px;
  --wceazy_sb_msg_text_align: center;
  --wceazy_sb_padding_top: 10px;
  --wceazy_sb_padding_bottom: 10px;
  --wceazy_sb_padding_left_right: 120px;
  --wceazy_sb_bar_margin_top: 5px;
  --wceazy_sb_bar_bg: #ffffff;
  --wceazy_sb_bar_progress_bg: #000000;
  --wceazy_sb_bar_font_size: 15px;
  --wceazy_sb_bar_text_color: #ffffff;
  --wceazy_sb_bar_border_radius: 20px;
}

.wceazy_cart_checkout_sb_progress_container {
  --wceazy_cart_checkout_sb_bar_bg: #0a9663;
  --wceazy_cart_checkout_sb_bar_progress_bg: #000000;
  --wceazy_cart_checkout_sb_bar_text_color: #ffffff;
}



/* NF Tushar Start  */
/* CSS Styles for Pre-order Date and Time Display */

.preorder-availability {
  padding-bottom: 10px;
}

.inventory {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.preorder-label {
  font-weight: bold;
  margin-right: 10px;
}

.preorder-date-time {
  color: #666;
}

/* NF Tushar End  */



.wceazy_frontend_sb {
  display: none;
  height: auto;
  background: var(--wceazy_sb_bg);
  padding: var(--wceazy_sb_padding_top) 0 var(--wceazy_sb_padding_bottom) 0;
  z-index: 99998;
}

.wceazy_frontend_sb.top {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.wceazy_frontend_sb.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body.admin-bar .wceazy_frontend_sb.top {
  top: 32px;
}

@media only screen and (min-width: 992px) {
  .wceazy_frontend_sb.wceazy_frontend_sb_desktop.active {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 992px) {
  .wceazy_frontend_sb.wceazy_frontend_sb_mobile.active {
    display: block;
  }
}

.wceazy_frontend_sb .wceazy_frontend_sb_header {
  display: flex;
  align-items: center;
}

.wceazy_frontend_sb .wceazy_frontend_sb_header p {
  margin: 0 var(--wceazy_sb_padding_left_right);
  color: var(--wceazy_sb_msg_text_color);
  font-size: var(--wceazy_sb_msg_font_size);
  text-align: var(--wceazy_sb_msg_text_align);
  flex: 1;
}

.wceazy_frontend_sb .wceazy_frontend_sb_header p a {
  color: var(--wceazy_sb_msg_link_text_color);
}

.wceazy_frontend_sb .wceazy_frontend_sb_header .wceazy_frontend_sb_close_icon {
  margin: 0 10px 0 0;
  cursor: pointer;
  background-color: var(--wceazy_sb_remove_icon_color);
  -webkit-mask-image: var(--wceazy_sb_remove_icon);
  mask: var(--wceazy_sb_remove_icon);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 28px;
  height: 28px;
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-size: var(--wceazy_sb_remove_icon_size);
  -webkit-mask-size: var(--wceazy_sb_remove_icon_size);
}

.wceazy_frontend_sb .wceazy_frontend_sb_progress_container {
  margin: var(--wceazy_sb_bar_margin_top) var(--wceazy_sb_padding_left_right) 0 var(--wceazy_sb_padding_left_right);
}

.wceazy_frontend_sb .wceazy_frontend_sb_progress_container .bar-holder {
  width: 100%;
  background-color: var(--wceazy_sb_bar_bg);
  border-radius: var(--wceazy_sb_bar_border_radius);
  -webkit-border-radius: var(--wceazy_sb_bar_border_radius);
  -moz-border-radius: var(--wceazy_sb_bar_border_radius);
}

.wceazy_frontend_sb .wceazy_frontend_sb_progress_container .bar-holder .bar-1 {
  white-space: nowrap;
  font-size: var(--wceazy_sb_bar_font_size);
  background-color: var(--wceazy_sb_bar_progress_bg);
  color: var(--wceazy_sb_bar_text_color);
  border-radius: var(--wceazy_sb_bar_border_radius);
  -webkit-border-radius: var(--wceazy_sb_bar_border_radius);
  -moz-border-radius: var(--wceazy_sb_bar_border_radius);
  text-align: center;
  font-weight: 400;
}

/* Cart Checkout Page Progress Bar */

.wceazy_cart_checkout_sb_progress_container {
  margin: 0;
}

.wceazy_cart_checkout_sb_progress_container .bar-holder {
  width: 100%;
  background-color: var(--wceazy_cart_checkout_sb_bar_bg);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.wceazy_cart_checkout_sb_progress_container .bar-holder .bar-1 {
  white-space: nowrap;
  font-size: 15px;
  background-color: var(--wceazy_cart_checkout_sb_bar_progress_bg);
  color: var(--wceazy_cart_checkout_sb_bar_text_color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
  font-weight: 400;
}

@media only screen and (max-width: 740px) {
  .wceazy_frontend_sb .wceazy_frontend_sb_header {
    flex-wrap: wrap;
  }

  .wceazy_frontend_sb .wceazy_frontend_sb_header p {
    margin: 0 10px;
    order: 2;
  }

  .wceazy_frontend_sb .wceazy_frontend_sb_header .wceazy_frontend_sb_close_icon {
    width: 100%;
  }

  .wceazy_frontend_sb .wceazy_frontend_sb_progress_container {
    margin-left: 50px;
    margin-right: 50px;
  }
}